/* Fonts used */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('fonts/SourceSansPro-Bold.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Spincycle OT';
  src: url('fonts/spincycle_ot.otf') format('opentype');
  font-style: normal;
}

/* Root vars */
:root {
  --font-family-1: "Source Sans Pro", sans-serif;
}
/*reset formatting*/

p,
ul,
h1,
h2,
h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/*reusable vars, will need to redo this based on media query stuff*/
.container {
  max-width: 1000px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a:link,
a:visited {
  text-decoration: none;
  color: white; 
}
a:hover,
a:active
 {
  text-decoration: none;
  color: #FF6565; 
}

button:hover,
button:active
 {
  opacity: 0.9;
}


/*Body*/

body {
  font-family: var(--font-family-1);
}

/* Header */
header {
  
  background-image: url("images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:cover;
  max-width: 100%;
  height: 800px;
  background-color: gray;
  color: white;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding-top:28px;
}

.navbar .logo {

}

.navbar nav {

}

.navbar nav ul {

}


.navbar nav ul li {
  display: inline;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding-left: 28px;
}

.navbar nav ul a {

}




.banner {

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

.banner .banner-text {
  width: 637px;
  margin-top: 300px;
}

.banner h1 {
  font-weight: 700;
  font-size: 32px;
}

.banner h2 {
  font-weight: 700;
  font-size: 16px;
}

.banner button {
  margin-top: 35px;
  border: none;
  background: none;
}



.banner p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* What We Do */

#whatwedo {
  margin-top: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#whatwedo .what-text {
  width: 637px;
  margin: auto;
}

.what-text h2 {
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
}

.what-text p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.what-icons {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.icon {
  font-size: 6em;
  color: #FF6565;
}

/* Results */
#results {
 
  background-image: url("images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:cover;
  max-width: 100%;
  height: 650px;
  background-color: gray;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}



#results .results-text {
  margin-top: 100px;
  text-align: center;
  width: 637px;
  margin: auto;

}

.results-text h2 {
  font-size: 32px;
  line-height: 37.5px;
  
}

.results-text p {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  
}

.pentagon {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 1000px;  /*this shouldnt be necessary, but adding the div around the above text keeps overriding the container width */
  
}

.pentagon .pent-text {
  position: relative;
  width: 180px;
  height: 180px;
  
}

.pentagon img {
  max-width: 100%;
  height: auto;
  
}

.pentagon .pent-text .overlay {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pentagon .pent-text h3 {
  font-size: 46px;
  font-weight: 700;
  line-height: 26px;
  padding-top: .75em;
  padding-bottom: .25em;

}

.pentagon .pent-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: .75em;
  padding-top: .25em;
}

